section {
    display: flex;
    justify-content: space-around;
}

div {
    width: 100%;
    margin: 10px;
}

div h2 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: black;
    background: #fff;
}

div li {
    list-style: none;
    align-items: center;
    padding: 10px;
    font-size: 1.5rem;
    /* color: #fff; */
}
